.main-chat
  .main-chat__main-header
    .main-chat__main-header__groups
      .main-chat__main-header__groups-name
        = @group.name
      %ul.member-list
        Member :
        %li.member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group) ,  class: "main-chat__main-header__menu" do
      Edit
  .main-chat__messages
    = render @messages

  .main-chat__form
    = form_with model: [@group, @message], html: {class: "main-chat__form__new-messages"}, local: true do |f|
      .main-chat__form__new-messages__input-text
        = f.text_field :content, class: 'input-content', placeholder: 'type a message'
        = f.label :image, class: 'content' do
          = icon('far','image form')
          = f.file_field :image, class: 'content-hidden'
      = f.submit 'Send', class: 'main-chat__form__new-messages__submit-btn'

      
      
        


    