.chat-side
  .chat-side__side-header
    .chat-side__side-header__side-box
      .chat-side__side-header__side-box__user-name
        = current_user.name
      .chat-side__side-header__side-box__menu
        = link_to new_group_path(current_user),  class: "Contents__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user.id),  class: "Contents__btn" do
          = icon('fas', 'cog')  
  .chat-side__groups
    - current_user.groups.each do |group|
      .chat-side__groups__groups-box   
        = link_to '#' do
          .chat-side__groups__groups-box__name
            = group.name
          .chat-side__groups__groups-box__messages
            メッセージがまだありません
    
    